In [ ]:
#101
a = True
print(a, type(a))

True <class 'bool'>

In [ ]:
#102
print(3==5) #False

False

In [ ]:
#103
print(3 < 5) #True

True

In [ ]:
#104
x = 4
print(1 < x < 5) #True

True

In [ ]:
#105
print ((3 == 3) and (4 != 3 )) #True

True

In [1]:
#106
print(3=>4) # 크거나->같다 (o) 같거나->크다(x)

SyntaxError: ignored

In [2]:
#107
if 4 < 3:
  print('Hello World!') #if조건 미충족(결과없음)

In [3]:
#108
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")   #if조건 미충족으로 else 실행됨(Hi, There)

Hi, there.

In [6]:
#109
if True :
    print ("1")
    print ("2")
else :
    print("3")          #1,2->True 3->False(else) 4-> outof if
print("4")              #so 1,2,4

1
2
4

In [5]:
#110
if True :
  if False : 
    print('1')
    print('2')
  else : 
    print('3')
else :
  print('4')              # 1,2->False 3->True(else) 4->False(else) 5->outof if
print('5')                # so 3, 5

3
5

In [7]:
#111
string = input()
print(string*2)

안녕하세요
안녕하세요안녕하세요

In [10]:
#112
number = input("숫자를 입력하세요: ")
print(int(number)+10)

숫자를 입력하세요: 30
40

In [12]:
#113
number = input()
if int(number)%2==0 :
  print("짝수")
else : 
  print("홀수")

30
짝수

In [29]:
#114
num = int(input("입력값: "))+20  #그냥 여서 처리하는게 나은듯

if num > 255 :                   #255 = 2^8-1, char로 어떻게 깔끔하게 안되나..?
  num = 255

print(f"출력값: {num}")

입력값: 200
출력값: 220

In [30]:
#115
num = int(input("입력값: ")) - 20

if num > 255 :         
  num = 255
elif num < 0 :
  num = 0

print(f"출력값: {num}")

입력값: 200
출력값: 180

In [31]:
#116
time = input("현재시간: ")
if time.endswith("00") :
  print("정각 입니다.")
else :
  print("정각이 아닙니다.")

현재시간: 12:00
정각 입니다.

In [32]:
#117
fruit = ["사과", "포도", "홍시"] #복숭아는...?

str_in = input("좋아하는 과일은?: ")
if str_in in fruit :
  print("정답입니다.")
else :
  print("오답입니다.")

좋아하는 과일은?: 사과
정답입니다.

In [33]:
#118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

str_in = input("")
if str_in in warn_investment_list :
  print("투자 경고 종목입니다.")
else :
  print("투자 경고 종목이 아닙니다.")

Microsoft
투자 경고 종목입니다.

In [34]:
#119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"} 

str_in = input("좋아하는 계절은: ")
if str_in in fruit.keys() :
  print("정답입니다.")
else :
  print("오답입니다.")

좋아하는 계절은: 봄
정답입니다.

In [35]:
#120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"} 

str_in = input("좋아하는 과일은: ")
if str_in in fruit.values() :
  print("정답입니다.")
else :
  print("오답입니다.")

좋아하는 과일은: 한라봉
오답입니다.

In [38]:
#121
char_in = input()      #아스키코드로 바꿔서 할 수도 있겠지만...

if char_in.islower():  #'파이썬이니까'
  char_in = char_in.upper()
else :
  char_in = char_in.lower()
print(char_in)

a
A

In [39]:
#122
score = input("score: ")

score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score: 83
grade is A

In [40]:
#123
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}

user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 100 달러
116700.0 원

In [42]:
#124
n1 = int(input("inqut number1: "))
n2 = int(input("inqut number2: "))
n3 = int(input("inqut number3: "))

if n1<n2:
  n1=n2
if n1<n3:
  n1=n3
print(n1)

inqut number1: 1
inqut number2: 2
inqut number3: 3
3

In [44]:
#125
tel_num = input("휴대전화 번호 입력: ")
tel = tel_num.split("-")[0]
if tel == "011" :
  tel = "SKT"
elif tel == "016" :
  tel = "KT"
elif tel == "019" :
  tel = "LGU"
else :
  tel = "Unknown"
print(f"당신은 {tel} 사용자입니다.")

휴대전화 번호 입력: 011-234-5678
당신은 SKT 사용자입니다.

In [45]:
#126
tel_num = input("우편번호: ")
tel = int(tel_num[2])
if tel<3  :
  tel = "강북구"
elif 2<tel<6 :
  tel = "도봉구"
elif 5<tel :
  tel = "노원구"
else :
  tel = "Unknown"
print(f"당신은 {tel} 거주자입니다.")

우편번호: 01300
당신은 도봉구 거주자입니다.

In [48]:
#127
Pnum = input("주민등록번호: ")

if int(Pnum.split("-")[1][0])%2==1 :
  print('남자')
else :
  print("여자")   #예외처리 귀찮았음

주민등록번호: 821010-1634210
남자

In [53]:
#128
Pnum = input("주민등록번호: ")

if int(Pnum.split("-")[1][1:3])<9 :
  print('서울입니다.')
else :
  print("서울이 아닙니다.")   #예외처리 귀찮았음

주민등록번호: 861010-1015210
서울입니다.

In [61]:
#129
Pnum = input("주민등록번호: ")
vali = Pnum.replace("-", '')
sum = 0
for i in range(8) :
  sum += int(vali[i]) * i+2
for i in range(4) :
  sum += int(vali[i+8]) * i+2 

if int(vali[12])==11 - sum%11 : 
  print ("유효한 주민등록번호입니다.")
else : 
  print("유효한 주민등록번호가 아닙니다.")

주민등록번호: 821010-1635210
유효한 주민등록번호가 아닙니다.

In [64]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
change = int(btc['max_price'])-int(btc['min_price'])
if  int(btc['max_price']) <int(btc['opening_price']) + change : print('상승장')
else : print("하락장")

상승장

In [63]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)              #사과\n귤\n수박

'38116000'

In [ ]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")           # #####\n#####\n#####

In [65]:
#133
[print(변수) for 변수 in ["A", "B", "C"]] #이게 아닌가?

A
B
C

[None, None, None]

In [66]:
#134
변수 = ['A','B','C']
print(f"출력: {변수[0]}\n출력: {변수[1]}\n출력: {변수[2]}")

출력: A
출력: B
출력: C

In [67]:
#135
변수 = ['A','B','C']
print(f"변환: {변수[0].lower()}\n변환: {변수[1].lower()}\n변환: {변수[2].lower()}")

변환: a
변환: b
변환: c

In [70]:
#136
for i in [10,20,30] : print(i)

10
20
30

In [71]:
#137
for i in [10,20,30] : print(i)

10
20
30

In [72]:
#138
for i in [10,20,30] : print(f"{i}\n-------")

10
-------
20
-------
30
-------

In [73]:
#139
for i in ["++++",10,20,30] : print(i)

++++
10
20
30

In [74]:
#140
for i in range(4) : print("-------")

-------
-------
-------
-------

In [76]:
#141
li = [100, 200, 300]
for i in li : print(i+10)

110
210
310

In [77]:
#142
li = ["김밥", "라면", "튀김"]
for i in li : print(f"오늘의 메뉴: {i}")

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [79]:
#143
li = ["SK하이닉스", "삼성전자", "LG전자"]
for i in li : print(len(i))

6
4
4

In [80]:
#144
li = ['dog', 'cat', 'parrot']
for i in li : print(i, len(i))

dog 3
cat 3
parrot 6

In [82]:
#145
li = ['dog', 'cat', 'parrot']
for i in li : print(i[0])

d
c
p

In [83]:
#146
li = [1, 2, 3]
for i in li : print(f"3 x {i}")

3 x 1
3 x 2
3 x 3

In [84]:
#147
li = [1, 2, 3]
for i in li : print(f"3 x {i} = {i*3}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [85]:
#149
li = ["가", "나", "다", "라"]
for i in li[1:] : print(i)

나
다
라

In [91]:
#150
li = ["가", "나", "다", "라"]
for i in li[::-1] : print(i)

라
다
나
가