In [1]:
#251
#클래스-여러 변수와 함수의 모음
#객체-자신만의 실행 영역을 가지고 있는 코드 //식별 가능한? 
#인스턴스-메모리에 실제 할당되어있는 구현체

In [1]:
#252
class Human :
  pass

In [3]:
#253
areum = Human()

In [2]:
#254
class Human :
  def __init__(self) :
    print("응애응애")

Human()

응애응애

In [3]:
#255
class Human :
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

areum = Human("아름", 25, "여자")
print(areum.name)

아름

In [4]:
#256
print(f"이름: {areum.name}, 나이: {areum.age}, 성별: {areum.sex}")

이름: 아름, 나이: 25, 성별: 여자

In [10]:
#257
class Human :
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex
  
  def who(self):
    print(f"이름: {self.name}, 나이: {self.age}, 성별: {self.sex}")

areum = Human("아름", 25, "여자")
areum.who()

이름: 아름, 나이: 25, 성별: 여자

In [8]:
#258
class Human :
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

  def setInfo(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

areum = Human("모름", 0, "모름")
areum.setInfo("아름", 25, "여자")

areum.name

'아름'

In [15]:
#259
class Human :
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex
    
  def __del__(self) -> None:
    print("나의 죽음을 알리지 말라")


areum = Human("아름", 25, "여자")
del areum

나의 죽음을 알리지 말라

In [16]:
#260
class OMG : 
    def print() :
        print("Oh my god")

#함수 오버라이딩 문제 : 기본 함수를 덮어씀

In [27]:
#261~265
class Stock :
  def __init__(self, name, code, per, pbr, rev) :
    self.name = name
    self.code = code

  def set_name(self, name) :
    self.name = name

  def set_code(self, code) :
    self.code = code

  def get_name(self) :
    return self.name

  def get_code(self) :
    return self.code

In [21]:
#262
삼성 = Stock("삼성전자", "005930")
삼성.name

'삼성전자'

In [24]:
#263
a = Stock(None, None)
a.set_name("삼성전자")

a.name

'삼성전자'

In [25]:
#264
a = Stock(None, None)
a.set_code("005930")

a.code

'005930'

In [26]:
#265
삼성 = Stock("삼성전자", "005930")
print(삼성.get_name(), 삼성.get_code())

삼성전자 005930

In [2]:
#266~270
class Stock :
  def __init__(self, name, code, per, pbr, div) :
    self.name = name
    self.code = code
    self.per = per          #다른 언어에서는 타입마다 일일히 지정해야함 (SQL 등)
    self.pbr = pbr
    self.div = div

  def set_name(self, name) :
    self.name = name

  def set_code(self, code) :
    self.code = code

  def set_per(self,per) :
    self.per = per

  def set_pbr(self,pbr) :
    self.pbr = pbr

  def set_div(self, div) :
    self.div = div
  
  def get_name(self) :
    return self.name

  def get_code(self) :
    return self.code

In [3]:
#267
samsung = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
samsung

In [4]:
#268
samsung.set_div(200000000)
samsung.div

200000000

In [5]:
#269
samsung.set_per(12.75)
samsung.per

12.75

In [16]:
#270
stocks ={"samsung" : Stock("삼성전자", "005930", 15.79, 1.33, 2.83),
          "hyundai" : Stock("현대차", "005380", 8.70, 0.35, 4.27),
          "LG" : Stock("LG전자", "066570", 317.34, 0.69, 1.37)}
          
for i in stocks : print(f"{stocks[i].code}: {stocks[i].pbr}")

005930: 1.33
005380: 0.35
066570: 0.69

In [65]:
#271
import random

class Account :
  account_count = 0
  
  def __init__(self, own, bal) :
    self.owner = own
    self.balance = bal
    self.bank_name = "SC은행"
    rnum = str(random.randint(100000000000, 199999999999))  #14자리인 이유 = 첫자리엔 0이 올수 없어서
    self.account_num = f"{rnum[1:4]}-{rnum[4:6]}-{rnum[6:12]}"
    self.deposit_count = 0
    self.deposit_log = []
    self.withdraw_log = []

    Account.account_count+=1  #self는 객체에만 저장됨

  def get_account_num(self):
    return self.account_num

  def deposit(self, depo) :
    if depo > 0 : 
      self.balance+=depo
      self.deposit_count+=1
      self.deposit_log.append(depo)
      if self.deposit_count>4 : 
        self.balance=int(self.balance*1.1)
        self.deposit_count-=5
    else : return False

  def withdraw(self, amount) : 
    if self.balance>=amount : 
      self.balance -= amount
      self.withdraw_log.append(amount)
      return amount
    else : return False

  def display_info(self) :
    print(f"은행 이름: {self.bank_name}\n예금주: {self.owner}\n계좌번호: {self.account_num}\n잔고: {self.balance}")

  def deposit_history(self) :
    return self.deposit_log
  def withdraw_history(self) :
    return self.withdraw_log

In [56]:
#272
a = Account("Mr. a", 100000)
b = Account("Mr. b", 200000)
Account.account_count

2

In [57]:
#273
a.get_account_num()

'068-79-485110'

In [58]:
#274
a.deposit(0), a.deposit(10000), a.balance

(False, None, 110000)

In [59]:
#275
a.withdraw(50000)

50000

In [60]:
#276
a.display_info()

은행 이름: SC은행
예금주: Mr. a
계좌번호: 068-79-485110
잔고: 60000

In [61]:
#277
a.deposit(10), a.deposit(10), a.deposit(10), a.deposit(10), a.balance

(None, None, None, None, 66044)

In [62]:
#278
accounts = [Account("Kim", 1000000),Account("Lee", 200000), Account("Park", 300000)]

In [63]:
#279
for ac in accounts :
  if ac.balance>999999 : ac.display_info()

은행 이름: SC은행
예금주: Kim
계좌번호: 334-18-175917
잔고: 1000000

In [67]:
#280
k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
print(k.deposit_history())

k.withdraw(100)
k.withdraw(200)
print(k.withdraw_history())

[100, 200, 300]
[100, 200]

In [69]:
#281
class Car :
  def __init__(self,w,p) :
    self.wheel = w
    self.price = p

car = Car(2,1000)
car.price, car.wheel

(1000, 2)

In [70]:
#282
class Bicycle(Car) :
  pass

In [74]:
#283
class Bicycle(Car) :
  def __init__(self, w, p) :
    super().__init__(w, p)
bicycle = Bicycle(2,1000)
bicycle.wheel

2

In [75]:
#284
class Bicycle(Car) :
  def __init__(self, w, p, d) :
    super().__init__(w, p)
    self.drivetrain = d

bicycle = Bicycle(2, 100, "시마노")
bicycle.drivetrain

'시마노'

In [77]:
#285
class  Motercar(Car) :
  def __init__(self, w, p) :
    super().__init__(w, p)

  def info(self) :
    print(f"바퀴수 {self.wheel}\n가격 {self.price}")

car = Motercar(4, 1000)
car.info()

바퀴수 4
가격 1000

In [78]:
#286
class Car :
  def __init__(self,w,p) :
    self.wheel = w
    self.price = p

  def info(self) :
    print(f"바퀴수 {self.wheel}\n가격 {self.price}")

class Bicycle(Car) :
  def __init__(self, w, p, d) :
    super().__init__(w, p)
    self.drivetrain = d

bicycle = Bicycle(2, 100, "시마노")
bicycle.info()

바퀴수 2
가격 100

In [79]:
#287
class Bicycle(Car) :
  def __init__(self, w, p, d) :
    super().__init__(w, p)
    self.drivetrain = d
  
  def info(self) :
    print(f"바퀴수 {self.wheel}\n가격 {self.price}\n구동계 {self.drivetrain}")

bicycle = Bicycle(2, 100, "시마노")
bicycle.info()

바퀴수 2
가격 100
구동계 시마노

In [80]:
#288
class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):         #상속받은 메소드가 덮어씌워짐(오버라이딩)
    print("자식호출")
  
나 = 자식()
나.호출()                  #따라서 "자식호출"

자식호출

In [81]:
#289
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")

나 = 자식()  #자식생성

자식생성

In [83]:
#290
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
    super().__init__()    #부모의 함수를 명시해서 호출했기에 "자식생성" "부모생성"

  나 = 자식()

자식생성
부모생성

In [88]:
#291
f = open("./test.txt", "w", encoding = "utf-8")
f.write("005930\n005380\n035420")
f.close()

f = open("./test.txt", "r", encoding = "utf-8")
print(f.read())

005930
005380
035420

In [91]:
#292
with open("./purch_items.txt", "w", encoding = "utf=8") as f :
  f.write("005930 삼성전자\n005380 현대차\n035420 Naver")

with open("./purch_items.txt", "r", encoding = "utf-8") as f:  #with:안을 독립적인 공간으로 만들어준다!
  print(f.read())                                              #더 나은 설명 : with안에서 할당된 메모리는 with가 끝날 때 반환된다!

005930 삼성전자
005380 현대차
035420 Naver

In [93]:
#293
import csv
with open("./purch_items.csv", "w", encoding = 'cp949', newline = '') as f : #newline default : "\n"  
  writer = csv.writer(f)
  data = [["종목명", "종목코드", "PER"], ["삼성전자", "005930", 15.79], ["NAVER", "035420", 55.82]]
  #for row in data : 
  writer.writerows(data)

with open("./purch_items.csv", "r", encoding = 'cp949', newline = '') as f :
  reader = csv.reader(f)
  print(f.readlines())  #이래뵈도 csv엔 제대로 들어감

['종목명,종목코드,PER\r\n', '삼성전자,005930,15.79\r\n', 'NAVER,035420,55.82\r\n']

In [94]:
#294
with open("./test.txt", "r", encoding = "utf-8") as f :
  li = f.read()
  print(li)

005930
005380
035420

In [96]:
#295
dct = {}
with open("./purch_items.txt", "r", encoding = "utf-8") as f: 
  for line in f.readlines() :
    line = line.strip().split()
    dct[line[0]] = line[1]  #변수를 아예 2개로 저장하는 게 더 깔끔할듯?

dct

{'005380': '현대차', '005930': '삼성전자', '035420': 'Naver'}

In [97]:
#296
per = ["10.31", "", "8.00"]

for i in per:
  try:
    print(float(i))
  except :
    print(0)

10.31
0
8.0

In [98]:
#297
per = ["10.31", "", "8.00"]
fli=[]
for i in per:
  try:
    fli.append(float(i))
  except:
    fli.append(float(0))

fli

[10.31, 0.0, 8.0]

In [99]:
#298
try :
  z = 3/0
except ZeroDivisionError :
  z = "err"

print(z)

err

In [102]:
#299
data = [1, 2, 3]

for i in range(5) :
    try :
      print(data[i])
    except IndexError as e :
      print(e)

1
2
3
list index out of range
list index out of range

In [105]:
#300 #이제 문제도 귀찮아서 '적당한 코드'ㅋㅋㅋ
per = ["10.31", "", "8.00", "0"]

for i in per:
  try:
    print(float(i))
  except:
    print(float(0), "\nNull")
  else:
    print("Not Null")
  finally:
    print("task passed")

10.31
Not Null
task passed
0.0
Null
task passed
8.0
Not Null
task passed
0.0
Not Null
task passed