In [1]:
#201
def print_coin() :
  print("비트코인")

In [2]:
#202
print_coin()

비트코인

In [ ]:
#203
for i in range(100) : 
  print_coin()

In [4]:
#204
def print_coins() :
  for i in range(100) :
    print("비트코인")

In [ ]:
#205
hello()
def hello():
    print("Hi")

#정의 이전에 호출

In [5]:
#206
def message() :
    print("A")
    print("B")

message()
print("C")
message()      #A\nB\nC\nA\nB

A
B
C
A
B

In [ ]:
#207
print("A")

def message() :
    print("B")

print("C")
message()      #A\nC\nB 정의는 맨 윗쪽에

In [ ]:
#208
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()     #A\nC\nB\nE\nD

In [ ]:
#209
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()      #B\nA

In [ ]:
#210
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()      #BCBCBCA(\n생략)

In [ ]:
#211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")      #정상 작동

In [ ]:
#212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)     # 7, 15

In [ ]:
#213
def 함수(문자열) :
    print(문자열)

함수()         # argument missing

In [ ]:
#214
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)#argument type not match

In [6]:
#215
def print_with_smile():
  str_in = input()
  print(str_in+":D")  #답과 다름: 입력받아<-인수로 받으라는 뜻이었음. 문제 에러.

In [7]:
#216
print_with_smile()

안녕하세요
안녕하세요:D

In [8]:
#217
def print_upper_price(price):
  return price*1.3

In [9]:
#218
def print_sum(n1,n2) :
  print(n1+n2)

In [10]:
#219
def print_arithmetic_operation(n1,n2) :
  print(f"{n1} + {n2} = {n1+n2}")
  print(f"{n1} - {n2} = {n1-n2}")
  print(f"{n1} * {n2} = {n1*n2}")
  print(f"{n1} / {n2} = {n1/n2}")

print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [12]:
#220
def print_max(n1,n2,n3) :
  if n1<n2 : n1=n2
  if n1<n3 : n1=n3
  print(n1)
print_max(3, 7, 230)

230

In [13]:
#221
def print_reverse(s):
  print(s[::-1])
print_reverse("python")

nohtyp

In [14]:
#222
def print_score(li):
  print(sum(li)/len(li))

print_score([1,2,3])

2.0

In [16]:
#223
def print_even(li) :
  for i in li :
    if i%2==0 : print(i)

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [18]:
#224
def print_keys(d) :
  for i in d.keys():
    print(i)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [20]:
#225
def print_value_by_key(dic, day):
  print(dic[day])

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [21]:
#226
def print_5xn(s):
  for i in range(len(s)//5+1) :
    print(s[i*5:i*5+5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [22]:
#227
def print_mxn(s, n):
  for i in range(len(s)//n+1) :
    print(s[i*n:i*n+n])

print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [23]:
#228
def calc_monthly_salary(salary) :
  print(salary//12)

calc_monthly_salary(12000000)

1000000

In [ ]:
#229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)
                        #왼쪽: 100, 오른쪽: 200 
my_print(a=100, b=200)  #왜 당연한 걸 이제와서..?

In [ ]:
#230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)  #왼쪽: 200, 오른쪽: 100

In [ ]:
#231
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)          #에러, 지역변수는 함수 밖으로 나갈 수 없음

In [42]:
#232
def make_url(s):
  return(f"www.{s}.com") #반환하라 라고 명시된 문제

print(make_url("naver"))

www.naver.com

In [44]:
#233
def make_list(s) :
  return [i for i in s]

print(make_list("naver"))

['n', 'a', 'v', 'e', 'r']

In [46]:
#234
def pickup_even(li):
  return [i for i in li if i%2==0]

print(pickup_even([3, 4, 5, 6, 7, 8]))

[4, 6, 8]

In [47]:
#235
def convert_int(n_s):
  return int(n_s.replace(",",""))

print(convert_int("1,234,567"))

1234567

In [48]:
#236
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)                 #22

22

In [49]:
#237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)                  #22

22

In [50]:
#238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)                #120

140

In [51]:
#239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)                #16

16

In [52]:
#240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)                #28

28

In [54]:
#241
import datetime
print(datetime.datetime.now())

2022-05-25 02:54:14.439537

In [55]:
#242
print(type(datetime.datetime.now()))

<class 'datetime.datetime'>

In [61]:
#243
for i in range(5,0,-1):
  print(datetime.datetime.now()-datetime.timedelta(i))

2022-05-20 02:58:14.318248
2022-05-21 02:58:14.320066
2022-05-22 02:58:14.320876
2022-05-23 02:58:14.321804
2022-05-24 02:58:14.322526

In [64]:
#244
now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))

03:00:25

In [67]:
#245
day = "2022-05-25"
print(datetime.datetime.strptime(day, "%Y-%m-%d"))

2022-05-25 00:00:00

In [ ]:
#246
import time
import datetime

while True :
  print(datetime.datetime.now())
  time.sleep(1) #중지시킴

In [39]:
#247
import numpy #라이브러리 임포트<-라이브러리별 충돌 최소화
from numpy import array #특정 함수 임포트
from numpy import * #다 불러오기


import numpy as np #별명 설정이 4번째라고...???

In [70]:
#248
from os import getcwd
print(f"'{getcwd()}'")

'/content'

In [73]:
#249
import os
os.rename("./a.txt", "./after.txt") #여건관계상 패스

In [79]:
#250
import numpy as np

print(np.arange(0,5,0.1))

[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7
 1.8 1.9 2.  2.1 2.2 2.3 2.4 2.5 2.6 2.7 2.8 2.9 3.  3.1 3.2 3.3 3.4 3.5
 3.6 3.7 3.8 3.9 4.  4.1 4.2 4.3 4.4 4.5 4.6 4.7 4.8 4.9]