##7_파이썬 분기문

In [ ]:
#101
#파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

print("bool")

bool

In [ ]:
'''102
아래 코드의 출력 결과를 예상하라
'''
print(3 == 5)

False

In [ ]:
'''103
아래 코드의 출력 결과를 예상하라
'''
print(3 < 5)

True

In [ ]:
'''105
아래 코드의 결과를 예상하라.
'''
print ((3 == 3) and (4 != 3))

True

#### '>='가 옳은 표현, '=>'는 문법에 맞지 않음!

In [ ]:
'''106
아래 코드에서 에러가 발생하는 원인에 대해 설명하라.
'''
print(3 => 4)

SyntaxError: ignored

In [ ]:
print(3 >= 4)

False

In [ ]:
#107
#아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World")

In [ ]:
#108
#아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [ ]:
#109
#아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
#110
#아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [ ]:
#111
#사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.
user = input()
print(user * 2)

사랑해용
사랑해용사랑해용

In [ ]:
#112
#사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

num = input('숫자를 입력하세요: ')
print(10+ int(num))

숫자를 입력하세요: 30
40

In [ ]:
#113
#사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

num = input('자연수를 입력하세요: ')
if int(num) % 2 == 0:
    print("짝수")
else:
    print("홀수")

자연수를 입력하세요: 38
짝수

In [ ]:
#114
#사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

num = input('수를 입력하세요: ')
if int(num) + 20 > 255:
    print(255)
else:
    print(20 + int(num))

수를 입력하세요: 234
254

In [ ]:
#115
#사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

num = input('수를 입력하세요: ')
cal = int(num) - 20
if cal > 255:
    print(255)
elif cal < 0:
        print(0)
else:
    print(cal)

수를 입력하세요: 75
55

In [ ]:
#116
#사용자로부터 입력 받은 시간이 정각인지 판별하라.

time = input('시간을 입력하세요(hh:mm): ')
if time[3:] == '00':
    print("정각입니다.")
else:
    print("정각이 아닙니다.")

시간을 입력하세요(hh:mm): 22:00
정각입니다.

In [ ]:
#117
#사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

f_fruit = ["사과", "포도", "홍시"]
i_fruit = input('좋아하는 과일은? :')
if i_fruit in f_fruit:
    print("정답입니다.")
else:
    print("다시 맞춰보세요.")

좋아하는 과일은? :홍시
정답입니다.

In [ ]:
#118
#투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
i_comp = input('관심 종목을 입력하세요: ')
if i_comp in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

관심 종목을 입력하세요: Google
투자 경고 종목입니다.

In [ ]:
#119
#아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
i_season = input("제가 좋아하는 계절은: ")
if i_season in fruit.keys():
    print("정답입니다.")
else:
    print("다시 맞춰보세요.")

제가 좋아하는 계절은: 가을
정답입니다.

In [ ]:
#120
#아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
i_season = input("제가 좋아하는 제철 과일은: ")
if i_season in fruit.values():
    print("정답입니다.")
else:
    print("다시 맞춰보세요.")

제가 좋아하는 제철 과일은: 사과
정답입니다.

#### 문자열변수.islower(), 문자열변수.upper(), 문자열변수.lower()

In [ ]:
#121
#사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

word = input("영문자 하나를 입력하세요: ")
if word.islower():
    print(word.upper())
else:
    print(word.lower())

영문자 하나를 입력하세요: B
b

In [ ]:
'''
122
점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

점수	학점
81~100	A
61~80	B
41~60	C
21~40	D
0~20	E
'''
i_score = int(input("점수를 입력하세요: "))
if i_score > 80:
    print("학점: A")
elif i_score > 60:
    print("학점: B")
elif i_score > 40:
    print("학점: C")
elif i_score > 20:
    print("학점: D")
else:
    print("학점: E")

점수를 입력하세요: 91
학점: A

#### 딕셔너리를 이용한 환율 계산 (feat. split())

In [ ]:
#123
#사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("금액과 환종을 공백을 두고 입력하세요: ")
num, currency = user.split()
print('{:,}'.format(int(num) * 환율[currency]), "원")

금액과 환종을 공백을 두고 입력하세요: 1000000 유로
1,268,000,000 원

#### [끌젬] 3개 입력숫자 역순 정렬 & 최대값 출력

In [ ]:
#124
#사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

n = 3
n_list = []

for i in range(n):
    n_list.append(int(input("숫자 3개를 입력하세요: ")))

s_list = sorted(n_list, reverse = True)
print(n_list)
print(s_list)
print(s_list[0])

#https://art-coding3.tistory.com/6

숫자 3개를 입력하세요: 5
숫자 3개를 입력하세요: 7
숫자 3개를 입력하세요: 1
[5, 7, 1]
[7, 5, 1]
7

#### [굳이] 딕셔너리 사용해서 풀기

In [ ]:
'''
125
휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

번호	통신사
011	SKT
016	KT
019	LGU
010	알수없음
'''
Num_Sp = {"011": "SKT", 
        "016": "KT", 
        "019": "LGU", 
        "010": "알수없음"}
mn = input("휴대전화 번호 입력(000-0000-0000 형식): ")
head_n = mn.split("-")[0]
print(f'당신은 {Num_Sp[head_n]} 사용자 입니다.')

휴대전화 번호 입력(000-0000-0000 형식): 010-9394-5123
당신은 알수없음 사용자입니다.

In [ ]:
#126
#우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

Num_post = input('우편번호(5자리)를 입력하세요: ')
d_num = int(Num_post[:3])
if d_num < 3:
    print("강북구")
elif d_num < 6:
    print("도봉구")
else:
    print("노원구")

우편번호(5자리)를 입력하세요: 01600
노원구

#### 인덱싱!

In [10]:
#127
#주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

id = input("주민번호를 입력하세요(6자리-7자리: ")
r_id = id.split("-")[1][0]
if r_id == "1" or r_id == "3":
    print("남자")
else:
    print("여자")

주민번호를 입력하세요(6자리-7자리: 454545-2323451
여자

In [14]:
#128
#주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라
id = input("주민번호를 입력하세요(6자리-7자리: ")
r_id = int(id.split("-")[1][1:3])
if r_id < 9:
    print("출생지가 서울입니다.")
else:
    print("지방분이시네예?")

주민번호를 입력하세요(6자리-7자리: 841022-1894515
지방분이시네예?

In [13]:
id = input("주민번호를 입력하세요(6자리-7자리: ")
r_id = int(id.split("-")[1][1:3])
print(r_id)

주민번호를 입력하세요(6자리-7자리: 841202-18194515
81

#### replace 쓰는 거 ok! strip은 왜 안되지?

In [19]:
#129
#주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.
id_num = input("주민번호(6자리-7자리)를 입력하세요: ")
id_num = id_num.replace("-","")

cal1 = (int(id_num[0])*2 + int(id_num[1])*3 + int(id_num[2])*4 + int(id_num[3])*5 + int(id_num[4])*6 + int(id_num[5])*7 + int(id_num[6])*8 + int(id_num[7])*9 + int(id_num[8])*2 + int(id_num[9])*3 + int(id_num[10])*4 + int(id_num[11])*5) % 11
cal2 = 11 - cal1

if cal2 == int(id_num[-1]):
    print(f'유효한 주민등록 번호 입니다.')
else:
    print(f'유효하지 않은 주민등록번호 입니다.')

주민번호(6자리-7자리)를 입력하세요: 841022-1894515
유효한 주민등록 번호 입니다.

In [ ]:
id_num = input("주민번호(6자리-7자리)를 입력하세요: ")
id_num1 = id_num.strip("-")

In [ ]:
import string
id_num = input("주민번호(6자리-7자리)를 입력하세요: ")
id_num1 = id_num.strip(string.punctuation)
#https://dojang.io/mod/page/view.php?id=2299

In [ ]:
print(id_num1, type(id_num1))

In [32]:
#130
#아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
#btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가 + 변동폭) > 최고가:
    print("상승장!")
else:
    print("하락장ㅠㅠ")

상승장!

##8_파이썬 반복문

In [33]:
#131
#for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [34]:
#132
#for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [36]:
#133
#다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [35]:
va = "A"
print(va)
va = "B"
print(va)
va = "C"
print(va)

A
B
C

In [ ]:
#134
#for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

In [37]:
#135
#for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [39]:
'''
136
다음 코드를 for문으로 작성하라.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
'''
#for 변수 in (10, 20, 30):
v_list = [10, 20, 30]
for 변수 in v_list:
    print(변수)

10
20
30

In [40]:
#137
#다음 코드를 for문으로 작성하라.

#print(10)
#print(20)
#print(30)

for 변수 in (10, 20, 30):
    print(변수)

10
20
30

In [42]:
'''
138
다음 코드를 for문으로 작성하라.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
'''
for 변수 in (10, 20, 30):
    print(변수)
    print('------')

10
------
20
------
30
------

In [43]:
'''
139
다음 코드를 for문으로 작성하라.

print("++++")
print(10)
print(20)
print(30)
'''
print("++++")
for var in (10, 20, 30):
    print(var)

++++
10
20
30

In [51]:
for va in list(range(4)):
    print("-------")

-------
-------
-------
-------

In [52]:
#141
#다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]
for price in 리스트:
    print(int(price) + 10)

110
210
310

In [53]:
#142
#for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
for menu in 리스트:
    print(f'오늘의 메뉴: {menu}')

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [58]:
#143
#리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
'''저장된 문자열의 길이를 다음과 같이 출력하라.

6
4
4'''

for stock in 리스트:
    print(len(stock))

6
4
4

In [60]:
#144
#리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
#동물 이름과 글자수를 다음과 같이 출력하라.

#dog 3
#cat 3
#parrot 6

for name in 리스트:
    print(f'{name}: {len(name)}')

dog: 3
cat: 3
parrot: 6

In [61]:
#145
#리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
#for문을 사용해서 동물 이름의 첫 글자만 출력하라.
'''
d
c
p
'''

for name in 리스트:
    print(name[0])

d
c
p

In [65]:
#146
#리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
#for문을 사용해서 다음과 같이 출력하라.
'''
3 x 1
3 x 2
3 x 3
'''
for num in 리스트:
    print(f'3 X {num}')

3 X 1
3 X 2
3 X 3

#### f' 표현식으로는 어떻게 하지?

In [73]:
#147
#리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
#for문을 사용해서 다음과 같이 출력하라.
'''
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
'''
for num in 리스트:
    #print("3 X " + str(num), "=", 3*num)
    print("3 X {} = {}".format(num, 3 * num))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [75]:
#148
#리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
#for문을 사용해서 다음과 같이 출력하라.
'''
나
다
라'''
for text in 리스트[1:]:
    print(text)

나
다
라

In [78]:
#149
#리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
#for문을 사용해서 다음과 같이 출력하라.
'''
가
다'''
for text in 리스트[::2]:
    print(text)

가
다

In [79]:
#150
#리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
#for문을 사용해서 다음과 같이 출력하라.
'''
라
다
나
가'''
for text in 리스트[::-1]:
    print(text)

라
다
나
가