###4_파이썬 리스트

In [5]:
'''
051 리스트 생성

2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 
영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)
'''
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [6]:
'''
052 리스트에 원소 추가
051의 movie_rank 리스트에 "배트맨"을 추가하라.
'''
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [7]:
'''
053
movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
'''
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키']

In [9]:
'''
054
movie_rank 리스트에서 '럭키'를 삭제하라.
'''
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [10]:
'''
055
movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
'''
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
print(movie_rank)
#하나씩 지우는 경우, 리스트 인덱싱이 새로 됨을 고려 del movie_rank[2]를 두번 실행

['닥터 스트레인지', '슈퍼맨']

In [11]:
'''
lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
'''
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [17]:
'''
057
다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
'''
nums = [1, 2, 3, 4, 5, 6, 7]
max_nums = max(nums)
min_nums = min(nums)
print(f'최대값: {max_nums}, 최소값: {min_nums}')

최대값: 7, 최소값: 1

In [21]:
'''
058
다음 리스트의 합을 출력하라.
'''
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [23]:
'''
059
다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.
'''
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [27]:
'''
060
다음 리스트의 평균을 출력하라.
'''
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [28]:
'''
061
price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)
'''
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [31]:
'''
062
슬라이싱을 사용해서 홀수만 출력하라.
'''
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [32]:
'''
063
슬라이싱을 사용해서 짝수만 출력하라.
'''
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

#### 역방향 슬라이싱: 리스트명[::-1]

In [35]:
'''
064
슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.
'''
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [39]:
'''
065
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자 Naver
'''
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0::2]) #print(interest[0], interest[2])

['삼성전자', 'Naver']

#### join 메서드 
- " ".join(리스트명): 리스트 원수들 사이에 공백(" ")을 넣어 하나의 문자열(str)로 출력

In [47]:
'''
066 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
'''

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
j_interest = " ".join(interest)
print(j_interest, type(j_interest), type(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우 <class 'str'> <class 'list'>

In [49]:
'''
067 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
'''
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
ub_interest = "/".join(interest)
print(ub_interest)

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [50]:
'''
068 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우
'''
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
l_interest = '\n'.join(interest)
print(l_interest)

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

#### split을 사용하면 결과가 list로 저장

In [53]:
'''
069 문자열 split 메서드
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
이를 interest 이름의 리스트로 분리 저장하라.
'''
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

#### 리스트 정렬 data.sort() vs. sorted()

In [61]:
'''
070 리스트 정렬
리스트에 있는 값을 오름차순으로 정렬하세요.
'''
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data) #원본데이터 수정

[1, 2, 3, 4, 5, 9, 10]

In [58]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

###5_파이썬 튜플

In [63]:
'''
071
my_variable 이름의 비어있는 튜플을 만들라.
'''
my_variable = ()
print(my_variable, type(my_variable))

() <class 'tuple'>

In [66]:
'''
072
2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

순위	영화
1	닥터 스트레인지
2	스플릿
3	럭키
'''
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

#### tuple에 하나의 원소를 저장하는 경우!

In [70]:
'''
073
숫자 1 이 저장된 튜플을 생성하라.
'''
one = (1, )
print(one, type(one))

(1,) <class 'tuple'>

In [71]:
'''
074
다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.
'''
t = (1, 2, 3)
t[0] = 'a'

TypeError: ignored

In [72]:
'''
075
아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?
'''
t = 1, 2, 3, 4
type(t)

tuple

In [77]:
'''
076
변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.
'''
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t, type(t))

('A', 'b', 'c') <class 'tuple'>

#### tuple의 list 변환 via. list(튜플명)

In [79]:
'''
077
다음 튜플을 리스트로 변환하라.
'''
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list_interest = list(interest)
print(list_interest, type(list_interest))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [80]:
'''
078
다음 리스트를 튜플로 변경하라.
'''
interest = ['삼성전자', 'LG전자', 'SK Hynix']
t_interest = tuple(interest)
print(t_interest, type(t_interest))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

#### tuple 언패킹, 더 편하게 할 수 있는 방법은 없을까?

In [88]:
'''
079 튜플 언팩킹
다음 코드의 실행 결과를 예상하라.
'''
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [89]:
for fruit in temp:
    print(fruit)

apple
banana
cake

In [85]:
a, b, _ = (1, 2, 3, 4, 5)
print(a)
print(b)

ValueError: ignored

In [86]:
a, b, *_ = (1, 2, 3, 4, 5)
print(a)
print(b)

1
2

In [87]:
a, b, *c, d = (1, 2, 3, 4, 5, 6)
print(a)
print(b)
print(c)
print(d)

1
2
[3, 4, 5]
6

In [90]:
data = [('james',20),('john',21),('peter',15)]

for name,age in data:
    print(name, age)

james 20
john 21
peter 15

In [97]:
'''
081 별 표현식
기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.
'''
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _ = scores
print(*valid_score)

8.8 8.9 8.7 9.2 9.3 9.7 9.9 9.5

In [99]:
'''
082
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.
'''
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, _, *valid_score = scores
print(*valid_score)

8.7 9.2 9.3 9.7 9.9 9.5 7.8 9.4

In [100]:
'''
083
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.
'''
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_score, _ = scores
print(*valid_score)

8.9 8.7 9.2 9.3 9.7 9.9 9.5 7.8

###6_파이썬 딕셔너리

- 순서 없음
- key와 value 형태로 데이터 저장
- 특히 key는 데이터의 레이블(label)을 지정하는 용도로 자주 사용됨

In [102]:
'''084 비어있는 딕셔너리
temp 이름의 비어있는 딕셔너리를 만들라.'''
temp = {}
print(temp, type(temp))

{} <class 'dict'>

In [103]:
'''
085
다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.
'''
ices = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ices, type(ices))

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800} <class 'dict'>

In [105]:
'''086
085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

이름	희망 가격
죠스바	1200
월드콘	1500'''

ices["죠스바"] = 1200
ices["월드콘"] = 1500
print(ices)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [110]:
'''
087
다음 딕셔너리를 사용하여 메로나 가격을 출력하라.
'''
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
메로나 = ice['메로나']
print(f'메로나 가격: {메로나}원')

메로나 가격: 1000원

In [113]:
'''088
다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.
'''
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']=1300
print("메로나 가격: ", ice['메로나'])

메로나 가격:  1300

In [114]:
'''
089
다음 딕셔너리에서 메로나를 삭제하라.
'''
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [115]:
'''090
다음 코드에서 에러가 발생한 원인을 설명하라.'''

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: ignored

#### 요 형태 기억! 
-  inventory = {"메로나": [300, 20]}

In [116]:
'''
091 딕셔너리 생성
아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

이름	가격	재고
메로나	300	20
비비빅	400	3
죠스바	250	100
'''
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [130]:
'''
092 딕셔너리 인덱싱
inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.
'''
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
a = input()
print("가격: ", inventory[a][0], "원")

메로나
가격:  300 원

In [131]:
'''
093 딕셔너리 인덱싱
inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.
'''
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
a = input()
print("재고: ", inventory[a][1], "개")

비비빅
재고:  3 개

In [132]:
'''
094 딕셔너리 추가
inventory 딕셔너리에 아래 데이터를 추가하라.
'''
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

#### keys 메서드: 딕셔너리이름.keys()

In [136]:
'''
095 딕셔너리 keys() 메서드
다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.
'''
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
name_ices = list(icecream.keys())
print(name_ices)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

#### values 메서드: 딕셔너리이름.values()

In [137]:
'''
096 딕셔너리 values() 메서드
다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.
'''
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
prices = list(icecream.values())
print(prices)

[1200, 1200, 1800, 1500, 1000]

In [140]:
'''
097 딕셔너리 values() 메서드
icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.
'''
sum(icecream.values())

6700

In [141]:
'''
098 딕셔너리 update 메서드
아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.
'''
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

#### tuple 두개로 디셔너리 만들기: zip(), dict()
- for 문으로 할 수도 있을 것 같은데... 아직은 안되네

In [145]:
'''099 zip과 dict
아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.
'''
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result, type(result))

{'apple': 300, 'pear': 250, 'peach': 400} <class 'dict'>

In [146]:
'''100 zip과 dict
date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.
'''
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table, type(close_table))

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000} <class 'dict'>