## I/O(14/14)

In [ ]:
#	Hello World
print("Hello World!")

In [ ]:
#We love kriii
for i in range(0,2) : print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

In [ ]:
#고양이 - 귀여워요!
print("\\    /\\\n )  ( ')\n(  /  )\n \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
#개 - 별로 안 귀여워요...
print("|\\_/|")
print("|q p|   /}")
print('( 0 )"""\\')
print('|"^"`    |')
print("||_/=\\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [ ]:
  #새싹 
  print("         ,r'"+'"7\nr`-_   ,'+"'  ,/\n \\. "+'". L_r'+"'\n   `~\\/\n      |\n      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

In [ ]:
#A+B
a, b = input().split()
print(int(a)+int(b))

1 2
3

In [ ]:
#A-B
a, b = input().split()
print(int(a)-int(b))

In [ ]:
#A*B
a, b = input().split()
print(int(a)-int(b))

In [ ]:
#A/B
a, b = input().split()
print(int(a)/int(b))

In [ ]:
#사칙연산
li = input().split()
a, b = int(li[0]), int(li[1])
print(f'{a+b}\n{a-b}\n{a*b}\n{a//b}\n{a%b}')

3 4
7
-1\M12
0.75
3

In [ ]:
#??!
print(input()+"??!")

lol
lol??!

In [ ]:
#1998년생인 내가 태국에서는 2541년생?!
print(int(input())-543)

2541
1998

In [ ]:
#나머지
#첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.
li = input().split()
A, B, C = int(li[0]), int(li[1]), int(li[2])

print(f"{(A+B)%C}\n{((A%C) + (B%C))%C}\n{(A*B)%C}\n{((A%C) * (B%C))%C}")

1 2 3
0
0
2
2

In [ ]:
#곱셈
n1 = int(input())
n2 = int(input())

print(f"{n2%10*n1}\n{n2%100//10*n1}\n{n2//100*n1}\n{n1*n2}")

234
567
1638
1404
1170
132678

## If (7/7)

In [ ]:
#두 수 비교하기
var1, var2=map(int,input().split())
if(var1>var2):
    print('>')
elif(var1==var2):
    print('==')
else:
    print('<')

In [ ]:
#시험 성적
score = int(input())
if score>=90 : print("A")
elif score>=80 : print("B")  #elif는 앞의 if가 실행되면 pass되므로
elif score>=70 : print("C")
elif score>=60 : print("D")
else : print("F")

12
F

In [ ]:
#윤년
year = int(input())
print(int(year%4<1 and (year%100>0 or year%400<1)))

128
1

In [ ]:
#사분면 고르기
x= int(input())
y= int(input())

if x>0 :
  if y>0:r=1
  else: r=4
else :
  if y>0:r=2
  else: r=3
print(r)

1
3
1

In [ ]:
#알람 시계 :)
h, m=map(int,input().split())
t = h*60+m-45

if t<0:
  t+=1440
h = t//60
m = t%60

print(h,m)

10 10
9 25

In [ ]:
#오븐 시계
h, m=map(int,input().split())
d = int(input())
t = h*60+m+d

if t>1439:
  t-=1440
h = t//60
m = t%60

print(h,m)

23 59
1
24 0

In [ ]:
#주사위 세개
n1, n2, n3=map(int,input().split())
c = 0
n = 0

if n<n1: n = n1
if n<n2: n = n2
if n<n3: n = n3

if n1==n2: 
  n = n1
  c+=1
if n2==n3: 
  c+=1
  n = n2
if n1==n3: 
  c+=1
  n = n3

if c:
  if c>1:
    r = 10000+n*1000
  else:
    r = 1000+n*100
else :
  r = n*100

print(r)

3 3 6
1300

## For(14/14)

In [ ]:
#구구단
n = int(input())
for i in range(1,10):
  print(n, "*", i, "=", n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
#A+B-3
t = int(input())
for i in range(t):
  a, b = map(int,input().split())
  print(a+b)

5
1 1
2
2 3
5
45 45
90
100 100
200
567 8910
9477

In [ ]:
#합
n = int(input())
sum = 0
for i in range(1, 1+n):
  sum += i
print(sum)

In [ ]:
#빠른 A+B - colab 미지원(제출시만 변경하는걸로)
import sys

T = int(input())
for i in range(T):
  A, B = map(int, sys.stdin.readline().split())
  print(A+B)

In [ ]:
#N 찍기
n = int(input())
for i in range(n):
  print(i+1)

3
1
2
3

In [ ]:
#기찍 N
n = int(input())
for i in range(n, 0, -1):
  print(i)

5
5
4
3
2
1

In [ ]:
#A+B - 7
t = int(input())
for i in range(t):
  a, b = map(int,input().split())
  print(f"Case #{i+1}: {a+b}")

3
1 2
Case #1: 3
3 4
Case #2: 7
5 6
Case #3: 11

In [ ]:
#A+B - 8
t = int(input())
for i in range(t):
  a, b = map(int,input().split())
  print(f"Case #{i+1}: {a} + {b} = {a+b}")

In [ ]:
#별 찍 기
n = int(input())
for i in range(1,n+1):
  print("*"*i)

4
*
**
***
****

In [ ]:
#별 찍 기 2
n = int(input())
for i in range(1,n+1):
  print(" "*(n-i)+"*"*i)

#별모양 별찍기 안나와서 살짝 아쉬움

5
    *
   **
  ***
 ****
*****

In [ ]:
#X보다 작은 수
t, X = map(int,input().split())
li = input().split()

for i in range(t):
  if int(li[i])<X : li.append(li[i])
print(*li[t:])

4 3
1 1 3 1
1 1 1

In [ ]:
#A+B - 5

while (True):
  a, b = map(int,input().split())
  if not(a+b) : break
  print(a+b)

1 3
4
0 0

In [ ]:
#A+B - 4
while(True):
    try:
        a,b = map(int,input().split())
        print(a+b)
    except(EOFError):
        break

In [ ]:
#더하기 사이클
n = int(input())
s = 0
r = n

while True:
  r = r%10*10+(r//10+r%10)%10
  s+=1
  if(r==n):break
print(s)

0
1

## Array (7/7)

In [ ]:
#최소, 최대
max=0
for i in range(9):
  n = int(input())
  if n > max : 
    max = n
    idx = i
print(f"{max}\n{idx+1}")

3
40
1
20
30
40
500
10
102
7

In [ ]:
#숫자의 개수
li = [0]*10
sum = 1
for i in range(3):
  sum *= int(input())

while(sum>0):
  li[sum%10]+=1
  sum//=10

for i in li:
  print(i)

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
#나머지 
li = []
for i in range(10):
  li.append(int(input())%42)
print(len(set(li)))

1
2
3
4
5
6
7
8
9
0
10

In [ ]:
#평균
t = int(input())
li = [int(i) for i in input().split()]
max = 0
sum = 0

for i in li:
  if i>max:max=i

for i in range(len(li)):
  sum += li[i]/max*100

print(sum/t)

3
40 60 70
155.95238095238093

In [ ]:
#OX퀴즈
t = int(input())


for i in range(t):
  s = 0
  strk = 0
  OX = input()
  for char in OX:
    if char == "O":
      strk += 1
      s += strk
    else:
      strk=0
  print(s)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

In [ ]:
#평균은 넘겠지
T = int(input())
for i in range(T):
  sum, om = 0, 0
  C = [int(i) for i in input().split()]

  for j in range(1,C[0]+1):
    sum += C[j]
  mean = sum/(len(C)-1)

  for j in range(1,C[0]+1):
    if C[j]>mean: om+=1

  print(f'{om/C[0]*100:.3f}%')

1
5 30 80 70 90 100
60.000%

## Function(3/3)

In [ ]:
#정수 N개의 합
def solve(a: list)->int:
  return sum(a)

In [ ]:
#셀프 넘버
def d(n) ->int:
  sn = n
  while(n>0):
    sn+=n%10
    n//=10
  return sn

self_set = set([i for i in range(1,10001)])
for i in range(1, 10001):
  sn = d(i)
  self_set.discard(sn)

for i in self_set:
  print(i)

  #결과값 쫙 뽑혀나오는거 장관임

In [ ]:
#한수
def isarim(n)->int:
  if n<10: return 1
  
  li = []
  while(n>0):
    li.append(n%10)
    n//=10
  
  diff = li[0]-li[1]
  for i in range(len(li)-1):
    if li[i]-li[i+1] !=diff:
      return 0
  return 1

sum = 0
n = int(input())

for i in range(1,n+1):
  sum += isarim(i)
print(sum)

110
99

## String(10/10)

In [3]:
#아스키코드
print(ord(input()))

B
66

In [7]:
#숫자의 합
t = int(input())
n = input()
sum = 0
for i in range(t) :
  sum += int(n[i])
print(sum)

4
1234
10

In [12]:
#알파벳 찾기 #소문자 아스키는 97~122
s = input()
c_li = [-1]*26

for i in range(len(s)):
  if c_li[ord(s[i])-97]==-1: c_li[ord(s[i])-97]=i
  
print(*c_li)

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [18]:
#문자열 반복
T = int(input())
for i in range(T):
  S = input().split()
  R = int(S[0])
  S = S[1]

  for j in range(len(S)):
    print(S[j]*R, end="")
  print()

2
3 Roar
RRRoooaaarrr
4 sleep
sssslllleeeeeeeepppp

In [45]:
#단어 공부 - 조금 장황한가요? 근데 실행시간은 거기서 거기...?
s = input()
c_li = [0]*26
for i in range(len(s)):
  asc = ord(s[i])
  if 96<asc<123:
    c_li[asc-97] +=1
  elif 64<asc<91:
    c_li[asc-65] +=1
  
max = 0
idx=0
d=0
for i in range(len(c_li)):
  if c_li[i]>max: 
    max=c_li[i]
    idx=i
    d=0
  elif c_li[i]==max: 
    d=1

if d:print("?")
else:print(chr(idx+65))

aatroxX
[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 2, 0, 0]
?

In [46]:
#단어의 개수 
print(len(input().split()))

In [48]:
#상수
n1, n2 = map(int,input().split())

def swap(n):
  n = (n%10*100) + (n//10%10*10) + (n//100)
  return n

n1 = swap(n1)
n2 = swap(n2)

if n1>n2:print(n1)
else :print(n2)

734 893
437

In [66]:
#다이얼
s = input()
sum = 0
for c in s:
  n = ord(c)
  if n > ord("R") : n -= 1
  if n > ord("X") : n -= 1
  sum += (n-65)//3+3
print(sum)

PQRS
32

In [71]:
#크로아티아 알파벳 # - = j #이 개노가다를 해야 한다고??

s = input()
# cnt=0
# for i in range(len(s)-1) :
#  if s[i] == "c" :
#    if s[i+1] == "-" : cnt+=1
#    elif s[i+1] == "=" : cnt+=1
#  elif s[i] == "d" :
#    if s[i+1] == "-" : cnt+=1
#    elif s[i+1] == "z" :
#      if i<len(s)-2:
#       if s[i+2] == "=" :cnt+=1
#  elif s[i] == "z" :
#    if s[i+1] == "=" : cnt+=1
#  elif s[i] == "s" :
#    if s[i+1] == "=" : cnt+=1
#  elif s[i] == "l" :
#    if s[i+1] == "j" : cnt+=1
#  elif s[i] == "n" :
#    if s[i+1] == "j" : cnt+=1  
# print(len(s)-cnt)

c_alp = ["c=", "c-", "dz=", "d-", "lj",	"nj",	"s=",	"z="] 
for c in c_alp:
  s = s.replace(c, "!")
print(len(s))

ljes=njak
6

In [73]:
#그룹 단어 체커 - in 명령어를 활용했다면 더 좋았을듯?
def isgrp(s)->int :
  alp = []
  for i in range(len(s)):
    ap = 1
    for c in alp :
      if s[i]==c:
        ap=0
        if s[i-1] != s[i]:return 0
    if ap: alp.append(s[i])
  return 1  

t = int(input())
sum = 0
for i in range(t):
  sum += isgrp(input())
print(sum)

3
happy
new
year
3